body {
  margin: 0;
  font-family: "Rubik", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toolBarHover {
    @apply text-sm p-2 rounded-sm text-gray-900;
  }
  .toolBarHover:hover {
    @apply bg-[rgba(0,0,0,0.07)] cursor-pointer;
  }
}
